process {
    withName: 'SONG.*|SCORE.*' {
      ext.prefix = ""
      ext.transport_parallel = params.transport_parallel
      ext.transport_mem = params.transport_mem
      ext.api_download_token = params.api_token ?: params.api_download_token
      ext.api_upload_token = params.api_token ?: params.api_upload_token
      ext.song_container_version = params.song_container_version
      ext.song_container = params.song_container
      ext.score_container_version = params.score_container_version
      ext.score_container = params.score_container
    }


    withName: 'SONG_SUBMIT|SONG_MANIFEST|SONG_PUBLISH|SCORE_UPLOAD' {
      ext.song_url = params.song_url_upload ?: params.song_url
      ext.score_url = params.score_url_upload ?: params.score_url
    }
}
