/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run main.nf -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '1.h'

    // input data
    // local_mode = true
    // samplesheet = "${projectDir}/test/data/local_sequencing-2.csv"
    // reference_fasta = "${projectDir}/test/reference/test_genome.fa"
    // reference_fai = "${projectDir}/test/reference/test_genome.fa.fai"
    // liftover_chain = "${projectDir}/test/reference/test_genome.fa"
    xml = "${projectDir}/test/data/example.xml"
    experiment_info_tsv = "${projectDir}/test/data/sample.tsv"
    hg19_ref_fa = "${projectDir}/test/reference/hg19.fa"
    hg19_ref_fai = "${projectDir}/test/reference/hg19.fa.fai"
    hg19_to_hg38_chain = "${projectDir}/test/reference/hg19ToHg38.over.chain.gz"
    hg38_ref_fa = "${projectDir}/test/reference/hg38.fa.gz"
    hg38_ref_fai = "${projectDir}/test/reference/hg38.fa.fai"
    hg38_ref_dict = "${projectDir}/test/reference/hg38.dict"
    sanity = "${projectDir}/test/data/updated_sample.tsv"
}
