/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests in RDPC DEV
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Debug in RDPC DEV profile'
    config_profile_description = 'Set RDPC DEV profile to check pipeline function'

    // Limit resources so that this can run the test on local machine
    max_time   = '50.h'

    // data staging params
    song_url                   = "https://song.rdpc-dev.cumulus.genomeinformatics.org"
    score_url                  = "https://score.rdpc-dev.cumulus.genomeinformatics.org"
    song_url_download          = "https://submission-song.rdpc-dev.cumulus.genomeinformatics.org"
    score_url_download         = "https://submission-score.rdpc-dev.cumulus.genomeinformatics.org"
    song_url_upload            = "https://song.rdpc-dev.cumulus.genomeinformatics.org"
    score_url_upload           = "https://score.rdpc-dev.cumulus.genomeinformatics.org"

}